@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

a {
  opacity: 1;
  transition: opacity linear;
}

a:hover {
  opacity: 0.8;
}

.header {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  position: relative;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  width: 228px;
  height: 32px;
}

.header__title-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 600px;
  max-height: 756px;
}

.header__title {
  margin: 0;
  padding: 0;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  animation: rotation 20s linear infinite;
  position: absolute;
  top: 64px;
  right: 0px;
  width: 568px;
  height: 568px;
  z-index: 0;
  background-color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}


.two-columns__paragraph:nth-of-type(2) {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 34px;
}

.two-columns__paragraph_bold {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.techniques {
  width: 80%;
  margin: auto;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 920px;
}

.cards__item {
  margin-right: 100px;
}

.cards__item:nth-child(3) {
  margin-right: 0px;
}

.cards__image {
  margin: 0;
  padding: 60px 40px 43px 40px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  width: 240px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.cards__description {
  width: 240px;
  line-height: 23px;
  font-weight: 18px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.video {
  margin: 0px;
  padding: 0px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframe {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 1;
  transform: translateY(20%);
}

.oakley {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}

.feynman {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f2f2f2;
  height: 890px;
  z-index: 0;
}

.feynman__title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  position: relative;
  z-index: 2;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.feynman__link {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 3;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.digits {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px; 
}

.table {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px; 
  margin-top: 60px;
  justify-content: space-between; 
}

.table__cell {
  width: 250px;
}

.table__cell:nth-of-type(1),
.table__cell:nth-of-type(2),
.table__cell:nth-of-type(3),
.table__cell:nth-of-type(4) {
  margin-bottom: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:nth-of-type(2) {
  margin-bottom: 20px;
}

.table__text_second-text {
  margin:0;
  padding: 0;
  margin-top: 20px;
}

.khan {
  padding-top: 100px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  margin: 0px;
  padding: 0px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0px;
  padding: 0px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 0px;
  padding: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
}

.khan__quote-author {
  margin: 0px;
  padding: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.khan__quote-author-subline {
  margin: 0px;
  padding: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
  gap: 48px;
  justify-content: flex-start;
}

.khan__buy-link {
  margin: 0px;
  padding: 0px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.kaufman {
  background-color:  #1f1f1f;
  position: relative;
  z-index: 0;
  overflow: hidden
}

.section-title_theme_dark {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  margin-bottom: 20px;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  z-index: 3;
  position: relative;
}

.section-subtitle_theme_dark {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.table_theme_dark {
  max-width: 1100px;
  margin: 0px auto 90px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell_theme_dark {
  width: 200px;
  z-index: 2;
}

.table_cell_theme_dark:nth-of-type(1),
.table_cell_theme_dark:nth-of-type(2),
.table_cell_theme_dark:nth-of-type(3),
.table_cell_theme_dark:nth-of-type(4),
.table_cell_theme_dark:nth-of-type(5) {
  margin-bottom: 80px;
}

.table__heading_theme_dark {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.table__text_theme_dark {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -250px;
  z-index: 1;
  width: 877px;
  height: 877px;
  animation: rotation 20s linear;
}

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.resources__logo-zone {
  display: flex;
  justify-content: center;
}

.resouces__link {
  display: flex;
  justify-content: space-between;
  max-width: 1100px
}

.footer {
  background-color:  #1f1f1f;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin: 0;
  margin: 18px 0px 18px 0px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_container {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin-bottom: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.social-icon_link {
  color: white;
  width: 16px;
  height: 16px;
}

.footer__social-icon {
  margin-right: 10px;
}
